<header>
      <nav>
        <ul class="navbar-list">
          <li class="navbar-item"><a href="/">Home</li>
          <li class="navbar-item navbar-right"><a href="cart"><i class="fa fa-shopping-cart">Check out </i></a></li>
        </ul>
      </nav>

</header>
