
<section class="item">
  <div class="cart">&times;</div>
    <p class="indent-wrapped"><span class="name">{{name}}</span></p>
    {{#if price}}
      <p class="indent-wrapped"><span class="price">price: {{price}}</span></p>
    {{/if}}
    {{#if details}}
      <p class="indent-wrapped"><span class="details">{{details}} </span></p>
    {{/if}}
</section>
