{{> header}}

      <section class="inventory">
            {{#each item}}
              {{>cartData}}
            {{/each}}

      </section>

    </main>


  <script src="javascript/cart.js"></script>

{{> footer}}