{{> header}}

<main>

	<nav class="w3-sidenav w3-white w3-collapse w3-top" style="z-index:3;width:150px" id="mySidenav">
	  <div class="w3-container w3-padding-16">
	    <h3 class="w3-wide"><b>Generic Shop LOGO</b></h3>
	  </div>
	  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
      <button id="addModal">Add Item</button>
	    <a href="#">Rocks</a>
	    <a href="#">Other</a>
	    <a href="#">Food</a>
	  </div>
	</nav>

	  {{#each item}}
		  {{> data}}
	  {{/each}}


  <script src="store.js"></script>
</main>

{{> footer}}
