<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Shopping App</title>

    <!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="style.css" media="screen">

  </head>
  <body>


    <header>
      <nav>
        <ul class="navbar-list">
          <li class="navbar-item "><a href="/">Home</a></li>
          <li class="navbar-item navbar-right"><a href="/cart"><i class="fa fa-shopping-cart">Check out </i></a></li>
        </ul>
      </nav>

    </header>

    <main>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-white w3-collapse w3-top" style="z-index:3;width:150px" id="mySidenav">
  <div class="w3-container w3-padding-16">
    <h3 class="w3-wide"><b>Generic Shop LOGO</b></h3>
  </div>
</nav>

      <section class="inventory">
            {{#each item}}
              {{>data}}
            {{/each}}

      </section>

    </main>

    <footer>
      <div class="copyright">
        Copyright &copy; 2016
      </div>
    </footer>

    <div id="modal-backdrop" class="hidden"></div>
    <!-- Add item modal -->
    <div id="add-note-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add item(s) to cart</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element required">
            <label for="number-of-items">Number of Items</label>
            <input type="number" id="add-items-to-cart">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Add</button>
        </div>

      </div>
    </div>

    <!-- Update Item Modal -->
    <div id="add-note-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add item(s) to cart</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element required">
            <label for="number-of-items">Number of Items</label>
            <input type="number" id="add-items-to-cart">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Add</button>
        </div>

      </div>
    </div>

  </body>

  <script src="javascript/test.js"></script>

</html>
