{{!--

  You should modify this template so that any existing notes for a user are
  displayed when this page is rendered.

  --}}

{{> header}}

<main>
	{{#each cart}}
		{{> item}}
	{{/each}}
</main>

{{> footer}}

